/*  your css code here. If applicable */

    body {
      font-family: Arial, sans-serif;
      padding: 20px;
		
    }
    ul {
      list-style-type: square;
    }
    li {
      margin: 8px 0;
      font-size: 16px;
		border:1px solid black;
		padding:20px;
    }
  
